.table {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
    padding: 8px;
    border: 1px solid #dddddd;
  }
  
  tr {
    background-color: #f2f2f2;
  }

  td {
    padding: 8px;
  }
  
  tr,
  td {
    border: 1px solid #dddddd;
  }

.boxContainer{
  margin-bottom: 100px;
}